{%- if record.tags contains 'Chegando' -%}

{%- elsif record.tags contains 'chegando' -%}

{%- else -%}
  <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
{%- endif -%}
